:root {
    font-family: 'Roboto', sans-serif;
}

body {
    overflow: hidden;
}

body .btn {
    font-size: 8rem!important;
}

.jc {
    font-size: 3rem!important;
}

.offset1 {
    position: relative;
    left: -12%;
}

.offset2 {
    position: relative;
    left: -24%;
}

.overlap {
    display: grid;
    width: 100%;
    white-space: nowrap;
    /* Set horizontal alignment of items in, case they have a different width. */
    /* justify-items: start | end | center | stretch (default); */
    justify-items: start;
    /* Set vertical alignment of items, in case they have a different height. */
    /* align-items: start | end | center | stretch (default); */
    align-items: start;
}

.overlap>* {
    grid-column-start: 1;
    grid-row-start: 1;
}

.scrolling {
    margin: 0 auto;
    overflow: hidden;
}

.scrolling span {
    font-family: Roboto;
    font-size: 3rem;
    opacity: 0.3;
    display: inline-block;
    padding-left: 100%;
    animation: scrolling 20s linear infinite;
    animation-delay: -10s;
}

.scrolling2 span {
    animation-delay: 0s;
}

@keyframes scrolling {
    0% {
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}