:root {
    font-family: 'Roboto', sans-serif;
}

body .btn {
    font-size: 7rem!important;
}

.rollingbg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.rollingtext {
    transform: rotate(30deg)!important;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    opacity: 0.3;
    animation: scrollText 8s infinite linear;
    overflow: hidden;
}

@keyframes scrollText {
    from {
        transform: translate(0) rotate(30deg);
    }
    to {
        transform: translate(173.2vh, 100vh) rotate(30deg);
    }
}